<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Architect By Day</title>
  <link rel="stylesheet" href="css/style.css">
</head>

<body>
  {{> header}}
  <div id="header">
    <div id="title">_ARCHITEKT</div>
    <div id="titleDesc">Welcome to our online portfolio, we are a small group of passionate designers and architects, looking to change and create amazing digital images to inspire others to follow in our innovate steps. Free Architect WordPress.
    </div>
  </div>

  <div id="bigPicture">
    <a href="/gallery/{{id}}" id="bigImg">
      <img src='{{link}}'>
      <h4>{{author}}</h4>
      <h4>{{description}}</h4>
    </a>
  </div>

  <div id="smallPictureContainer">
    {{#each smallPictures}}
    <a href="/gallery/{{id}}">
      <div class="smallPictures">
        <img src="{{link}}">
        <div id="leftLink">
          <h4>{{author}}</h4>
        </div>
        <div id="rightLink">
          <h4>{{description}}</h4>
        </div>
      </div>
    </a>
    {{/each}}
  </div>

</body>

</html>