<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <div>
        <a href="/">
            <button>Home</button>
        </a>
    </div>
    <div>
        <a href="/login">
            <button>Login</button>
        </a>
    </div>
    <div>
        <a href="/register">
            <button>Register</button>
        </a>
    </div>
    <div>
        <a href="/gallery/new">
            <button>New Image</button>
        </a>
    </div>
    <div id="pictures">
        <img src='{{link}}'>
        <h4>{{author}}</h4>
        <h4>{{description}}</h4>
        <div>
            <form action="/gallery/{{id}}?_method=DELETE" method="POST">
                <button>Delete Image</button>
            </form>
            {{!-- <a href="/gallery/{{id}}?_method=DELETE" method="POST">
            </a> --}}
            <a href="/gallery/{{id}}/edit">
                <button>Update Image</button>
            </a>
        </div>
        {{#each smallPictures}}
        <div id="smallPictures">
            <a href="/gallery/{{id}}" class="smallPictures">
                <img src="{{link}}">
                <h4>{{author}}</h4>
                <h4>{{description}}</h4>
            </a>
            <div>
                <a href="/gallery/{{id}}?_method=DELETE" method="POST">
                    <button>Delete Image</button>
                </a>
                <a href="/gallery/{{id}}/edit">
                    <button>Update Image</button>
                </a>
            </div>
        </div>
        {{/each}}
</body>

</html>